.newcontact{
    display: flex;
    flex-direction: column;
    width: 100vw;
    
}
.uppercontact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 24rem;
    align-items: center;
    width: 700px;
    margin-bottom: 5rem;
}
.contactdata{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contactdata>:nth-child(1){
    font-size: 2rem ;
    font-weight: 600;
    color: #EF1F83;
    margin-bottom: -2rem;    
}
.contactdata>:nth-child(3){
    font-size: 4rem ;
    font-weight: 600;
    background: -webkit-linear-gradient(0deg, #433FF1 0%, #EF1F83 80.21%);
    background-clip: text;
    -webkit-text-fill-color: transparent;

}
.contactdata>:nth-child(2){
    font-size: 22px;
    font-weight: 300;
    margin-top: 4rem;
    color:var(--txt-para)
}

@media only screen and (max-width:600px){
    .uppercontact{
        margin-left: -2rem;
    }
    .newcontact{
        margin-bottom:10vh;
    }
    .footersection{
        flex-direction: column;
        gap: 2rem;
    }
    .services{
        margin-left: 7rem;
    }
    .qualification{
        margin-left: 7rem;
    }
    .qualification{
        margin-left: 7rem;
    }
    .links{
        margin-left: 7rem;
    }


    .footer>:nth-child(2){
        margin-left: 8rem;
    }
    

}

@media only screen and (min-width:600px){
    .footersection{
        margin-left: 31rem;
    }
    .services{
        margin-left: -22rem;
    }
    .qualification{
        margin-left: 1rem;
    }
    .links{
        margin-left: 8rem;
    }
    .footer>:nth-child(2){
        margin-left: 33rem;
    }
}

.footer{
    display: flex;
    flex-direction: column;
}
.footer>:nth-child(1){
    margin-bottom: 2rem;
}
.footer>:nth-child(2){
    width: 400px;
    font-size: 17px;
    font-weight: 300;
    color: #EF1F83;
}

.footersection{
    display: flex;
    width: 100%;
}
.services{
    
    flex-shrink: 0;
    font-size: 16px;
    width:400px;
    color:gray;
}
.services>ul{
    list-style: none;
}


.qualification{
    flex-shrink: 0;
    font-size: 16px;
    width:400px ;
    color:gray;

}
.qualification>ul{
    list-style: none;
    
}


.links{
    
    flex-shrink: 0;
    font-size: 16px;
    width:400px ;
    color:gray;
}
.links>ul{
    list-style: none;
    
}
.links>ul>li>a{
    text-decoration: none;
    color: gray;
}




