.skills{
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: relative;
}
.header{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.header>span{
    color:#EF1F83;
    font-size: 2rem;
    font-weight: 600;
}
.wrapper{
    display: flex;
    width: 100%;
}

.uright{
    /* flex-shrink: 0; */
    display: flex;
    width: 500px;   
    gap: 2rem;
    margin-bottom: 1rem;

}
.uright>ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    list-style: none;
    font-size: 22px;
    font-weight: 300;
    color: var(--txt-para);
}
.uright>ul>li>a{
    cursor: pointer;
    color: #EF1F83;
    /* background: -webkit-linear-gradient(0deg, #433FF1 0%, #EF1F83 80.21%);
    background-clip: text;
    -webkit-text-fill-color: transparent; */
    text-decoration: none;
}
.uright>ul>li>a:hover{
    color: #433FF1;
}



.lower{
    margin-top: 20vh;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
                    
}
.fl{
   flex:0.5 
}
.lleft{
    margin-left: 5rem;
    margin-top: 3rem;
    width: 465px;
    height: 450px;
    padding-top:2rem;
    flex-shrink: 0;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
} 
.lleft>:nth-child(1){
    font-size: 3rem ;
    font-weight: 600;
    background: -webkit-linear-gradient(0deg, #433FF1 0%, #EF1F83 80.21%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.lleft>:nth-child(2){
    font-size: 4rem ;
    font-weight: 600;
    background: -webkit-linear-gradient(0deg, #433FF1 0%, #EF1F83 80.21%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.lleft>:nth-child(4){
    font-size: 22px ;
    font-weight: 300;
    color: var(--txt-para);
    margin-bottom: 1.5rem;
}
.lright{
    display: flex;
    justify-content:center;
}
    
.imagecon{
    margin-left: 18rem;
    display: flex;
    width: 550px;
    height: 550px;
}
.image{
    margin-left: -6rem;

} 

@media only screen and (max-width:600px){
    .wrapper{
        flex-direction: column-reverse;
    }
    .dummy{
        display: none;
    } 
    .uleft>img{
        margin-left: 2rem;
        width: 550px;
        height: 370px;
    }
    .lower{
        flex-direction: column;
    }
    .lleft{
        margin-left: 5rem;
        margin-right: -9rem;
        padding-bottom: 0;
    }
    .lright{
        display: none;
    }
}

